.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 14px;
}

@media (min-width: 1024px) {
  .dashboard-container {
    flex-direction: row;
  }
}

.my-cards-section,
.recent-transactions-section,
.weekly-activity-section,
.expense-statistics-section,
.quick-transfer-section,
.balance-history-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.my-cards-section {
  margin-bottom: 2rem;

  @media (min-width: 1025px) {
    margin-bottom: 0;
  }
}

.recent-transactions-section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard-container {
    .grid,
    .grid-cols-1 {
      all: unset;
    }
    .activity-expenses > * {
      margin-top: 2rem;
    }
  }
}
.weekly-activity-section,
.expense-statistics-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
