.edit-profile {
  justify-content: center;

  //profile-picture
  .profile-picture {
    display: flex;
    justify-content: center;

    .profile-box {
      position: relative;

      .profile-img {
        width: 90px;
        height: 90px;
      }

      .edit-btn {
        background-color: transparent;

        .edit-icon {
          background-color: #232323;
        }

        .edit-icon:hover {
          background-color: #3d3c3c;
        }
      }
    }
  }
  // form
  .profile-form {
    input {
      color: #718ebf;
      outline: none;
    }
  }
}

.settings-page {
  .save-container {
    .save-btn {
      width: 100%;
      outline: none;

      &:disabled {
        background-color: #474646;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background-color: #3a3838;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
    
    .save-btn:focus {
      outline: 2px solid #e0e0e2;
      outline-offset: -5px;
    }
  }
}

@media screen and (min-width: 600px) {
  .settings-page {
    .save-container {
      .save-btn {
        width: 190px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .settings-page {
    .edit-profile {
      .profile-picture {
        .profile-box {
          .profile-img {
            width: 105px;
            height: 105px;
          }
        }
      }
    }
  }
}
