/* Keyframes for sliding in */
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Keyframes for sliding out */
@keyframes slideOutToTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.toast {
  position: fixed;
  top: 5%;
  right: 1%;
}

.toast.visible {
  animation: slideInFromTop 0.5s ease-out forwards;
}

.toast.hidden {
  animation: slideOutToTop 0.5s ease-in forwards;
}

@media screen and (max-width: 480px) {
  .toast {
    right: unset;
    width: 100%;
  }
}
